<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'cms:home' %}">
          <img src="https://pycon.cl/images/pycon_chile_white.png" alt="" id="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'cms:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Marcas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if 'category' in request.path  %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in items_categories %}

                {% url 'catalog:category' category.pk as url %}
                <li><a class="dropdown-item {% if request.path == url %}active{% endif %}" href="{{url}}">{{category.name}}</a></li>
              {% endfor %}
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'cms:home' %}">Contacto</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>